:root {
  
    --primary-color: #7A08FA;
    --page-background-color: #F0F2F5;
    --main-font-color: #434343;
    --submenu-background-color: #EEEEEE;
    --submenu-hover-color: #A1A1A1;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Montserrat'
}
body{
  background-color: var(--page-background-color)!important;
}